*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#e5e5e5;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
}

/* APP */

.app{
    width:350px;
    height:600px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-around;
    padding:15px;
    font-size:25px;
    color:#fd5068;
}

/* CARD */

.card{
    width:90%;
    height:70%;
    margin:auto;
    border-radius:20px;
    position:relative;
    display:flex;
    align-items:flex-end;
    overflow:hidden;
}

.profile{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
}

/* TEXTO DO CARD */

.card-info{
    position:relative;
    width:100%;
    padding:20px;
    color:white;
    background:linear-gradient(transparent, rgba(0,0,0,0.8));
}

.name-age{
    display:flex;
    gap:10px;
}

/* BUTTONS */

.buttons{
    position:absolute;
    bottom:15px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
}

.buttons button{
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    background:white;
    font-size:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.no{
    color:red;
}

.star{
    color:blue;
}

.love{
    color:green;
}
