*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f0f2f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
display:flex;
width:1000px;
background:white;
border-radius:10px;
overflow:hidden;
}

.left{
width:50%;
padding:40px;
position:relative;
}

.logo{
width:50px;
margin-bottom:20px;
}

.left h1{
font-size:40px;
}

.left span{
color:#1877f2;
}

.side-img{
width:100%;
margin-top:20px;
}

.right{
width:50%;
display:flex;
justify-content:center;
align-items:center;
border-left:1px solid #ddd;
}

.login-box{
width:80%;
display:flex;
flex-direction:column;
}

.login-box h2{
margin-bottom:20px;
}

.login-box input{
margin-bottom:10px;
padding:14px;
border:1px solid #ddd;
border-radius:30px;
}

.login-btn{
background:#1877f2;
color:white;
border:none;
padding:14px;
border-radius:30px;
margin:10px 0;
cursor:pointer;
}

.forgot{
text-align:center;
margin:10px 0;
text-decoration:none;
color:#1877f2;
}

hr{
margin:20px 0;
}

.create-btn{
border:1px solid #1877f2;
background:white;
color:#1877f2;
padding:14px;
border-radius:30px;
cursor:pointer;
}

.meta{
text-align:center;
margin-top:20px;
color:#1877f2;
}